*{
	box-sizing: border-box;
	outline: none;
	border: 0px;
	margin: 0px;
}

#root{
	max-width: 100vw;
	min-height: 100vh;

	background-color: rgb(20, 20, 20);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	align-items: center;
	justify-content: center;
}

h1{
	font-size: 30px;
	margin-top: 4vh;
	margin-bottom: 2vh;

	text-align: center;
	text-justify: center;

	color: white;
}

p{
	color: white;

	text-justify: center;

	margin-right: 20vw;
	margin-left: 20vw;

	line-height: 1.5;

	font-size: 18px;
}
form{
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto 1fr;

	align-items: center;
	justify-content: center;
}
form div{
	width: 100%;
	display: grid;

	align-self: center;
	justify-self: center;

	align-items: center;
	justify-content: center;
	
	padding: 1px;
}
form div:nth-child(2n+1){
	padding-bottom: 3vh;
}
input{
	align-self: center;
	text-align: center;
	text-justify: center;
	width: 80vw;
	max-width: 500px;

	font-size: 16px;
}
#submit-btn{
	max-width: 50vw;
	width: 160px;

	cursor:pointer;
}